@import 'nib'
@import 'normalize'

@import './icons'
@import './rules/colors'
@import './rules/helpers'

body
  font-size 14px
  font-family 'Montserrat'
  color black_primary
  // background #f5f5f5

@import './components/header'
@import './components/about'
@import './components/project'
@import './components/contact'
@import './components/footer'
