@import 'nib'
@import 'normalize'

@import './icons'
@import './rules/colors'
@import './rules/helpers'

@require '../node_modules/izitoast/dist/css/iziToast.min.css'

body
  font-size 14px
  font-family 'Montserrat'
  color black_primary
  // background #f5f5f5

@import './components/header'
@import './components/about'
@import './components/project'
@import './components/contact'
@import './components/footer'

// Media query
@media screen and (min-width: 770px)
  .Header
    height 70vh
  .About
    flex-direction row-reverse
    &-avatar
      width 700px
      max-width auto

  .Contact > form
    div
      &:last-child
        align-items flex-end
      &:first-child
        flex-direction row
        > input:first-child
          margin-right 1em

  .Footer
    &-wrapper
      justify-content space-between
    .social
      display block


@media screen and (min-width: 1000px)
  .Header-nav
    display block
  .Footer
    &-info > h6
      display block
