blue_primary = #303F9F
blue_secundary = #3F51B5
blue_light = #C5CAE9
green_primary = #009688
black_primary = #212121
gray_primary = #757575
gray_secundary = #BDBDBD
red_danger = #A52714

facebook = #3B5998
twitter = #1DA1F2
linkedin =  #007bb5
instagram = #c13584
