.Header
  display flex
  flex-direction column-reverse
  justify-content: center;
  align-items: center;
  position relative
  height 70vh
  &:after
    content ''
    position fixed
    top 0
    left 0
    width 100%
    height 100%
    z-index 0
    background-color rgba(black_primary, .7)
  &:before
    content ''
    position fixed
    top 0
    left 0
    width 100%
    height 100%
    background-image url('../assets/images/background.jpg')
    background-size cover
    background-repeat no-repeat
    z-index 0
  &-card
    display flex
    flex-direction column
    justify-content center
    align-items center
    height 100%
    padding 0 .5em
    .buttons
      padding 1em 0
      display flex
  &-nav
    display none
    position absolute
    top 0
    right 5px
    text-align right
    &--list
      margin 0
      padding 0
      display inline-block
      list-style none
      .item
        display inline-block
        a
          display block
          padding .5em
          text-decoration none
          color #fefefe
